
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, sans-serif;
    margin: 0;
}


/* header */
header {
    display: flex;
    justify-content: space-between;
    padding: 64px;
    background-color: #6f8f72;
    color: #F9FAF8;
}
ul, a {
    list-style: none;
    text-decoration: none;
    padding: 0px;
    margin: 0;
    color: #E5E7EB;
    font-weight: lighter;
}
.headerLinks {
    display: flex;
    font-size: 18px;
    gap: 16px;
}
.headerLogo {
    font-size: 24px;
    font-weight: bold;
}

/* section 1 */

.sec1 {
    display: flex;
    padding: 64px;
    gap: 32px;
    min-height: 300px;
    justify-content: space-between;
    align-items: center;
    background-color: #6f8f72;
    flex-wrap: wrap;
}
.readableContent {
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex: 1 1 0;

}
.heading {
    font-size: 64px;
    font-weight: 900;
    color: #F9FAF8;

}
.subheading {
    font-size: 24px;
    color: #E5E7EB
}
.topButton {
    background-color: #8fd694;
    font-size: 24px;
    color: #F9FAF8;
    max-width: 167px;
    border-radius: 8px;
    padding: 8px;
    font-weight: bold;
    border-style: none;

}
.topButton:hover {
    background-color: #7dba84;

}
.topButton:active {
    background-color: #77ad78;

}
.siteImg {
    width: 100%;
    max-width: 500px;
    flex: 1 1 0;
}

/* section 2 */
#sec2 {
    padding: 64px;
    display: flex;
    flex-direction: column;
    
}
.boxes {
    display: flex;
    justify-content: space-evenly;
    flex: 1;
    flex-wrap: wrap;
    gap: 8px;
}
.section {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.box {
    width: 200px;
    height: 200px;
    border-color: #8fd694;
    border-style: solid;
    border-radius: 8px;
}
.text {
    width: 200px;
    text-align: center;
}

/* section 3 */
#sec3 {
    background-color: #E5E7EB;
    /* min-height: 400px; */
    display: flex;
    flex-direction: row;
    gap: 16px;
    padding: 64px;
    flex-wrap: wrap;
    align-items: center;
}

#sec3t {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    padding: 64px;
    flex: 1 1 0;
}

/* section 4 */
#sec4 {
    display: flex;
    margin: 64px;
    padding: 32px 128px 32px 128px;
    background-color: #8fd694;
    border-radius: 8px;
    flex-wrap: wrap;
    gap: 16px;
    align-items: center;
    justify-content: center;
}
.bottomButton {
    background-color: #8fd694;
    font-size: 18px;
    color: #F9FAF8;
    border-radius: 8px;
    border-color: #F9FAF8;
    padding: 0px 32px 0px 32px;
    font-weight: bold;
    border-style: solid;
    height: 50px;
}
.heading2 {
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;

}
.subheading2 {
    font-size: 18px;
    color: #E5E7EB
}


/* BASIC MANICURE STYLYING ************************************************/

.cal-container{
    background-color: #6f8f72;
    margin:auto;
    position: relative;
    top: 50px;
    padding: 2em;
    border-radius: 25px;
    width: 85%;
}

.grid{
    display: grid;
    background: #6f8f72 ;
    margin-top: 15px;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.grid-cell{
  display: flex;
    height: 100px;
    width: auto;
    background: #6f8f72;
    cursor: pointer;
    border: solid #556e58 1px;
}

.grid-cell:hover{

    background: #556e58;
}

.name{
    text-align: center;
    margin-top: 1.5em;
}
.loc{
    margin-top: 3em;
    margin-left: 2em;
}

.title{
    color: #ffffff;
}

.nums{
    
    position: relative;
    top: 4px;
    margin-left: auto; 
    margin-right: 4px;
    font-size: 13px;
    color: black;
}

.out{
    color: rgb(80, 80, 80);
}

.void{
    cursor: not-allowed;
}
.void:hover{
    background: #6f8f72;
}

/* footer */

footer {
    text-align: center;
    color: #F9FAF8;
    background-color: #638372;
    padding: 16px;
}