
body {
    font-family: Verdana, sans-serif;
    margin: 0;
}
/* header */
header {
    display: flex;
    justify-content: space-between;
    padding: 64px;
    background-color: #6f8f72;
    color: #F9FAF8;
}
ul, a {
    list-style: none;
    text-decoration: none;
    padding: 0px;
    margin: 0;
    color: #E5E7EB;
    font-weight: lighter;
}
.headerLinks {
    display: flex;
    font-size: 18px;
    gap: 16px;
}
.headerLogo {
    font-size: 24px;
    font-weight: bold;
}
#servicesIntro {
    font-size: 64px;
    font-weight: 900;
    color: #F9FAF8;
    display: flex;
    flex-direction: column;
    background-color: #6f8f72;
    flex-wrap: wrap;
    gap: 32px;
    padding: 64px;
    align-items: center;
    justify-content: center;
}
#downArrow {
    width: 50px;
    height: 50px;
    color: white;
}
#downArrow:hover {
    width: 50px;
    height: 50px;
    color: white;
}

#services {
    padding: 64px;
    display: flex;
    flex-direction: column;
    
}
.boxes {
    display: flex;
    justify-content: space-evenly;
    flex: 1;
    flex-wrap: wrap;
    gap: 8px;
}
.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}
.box {
    width: 300px;
    height: 400px;
    border-color: #8fd694;
    border-style: solid;
    border-radius: 8px;
}
.text {
    width: 200px;
    text-align: center;
}

#other {
    display:flex;
    justify-content: space-evenly;
    padding: 64px;
    flex-wrap: wrap;
    gap: 16px;
}

/* footer */

footer {
    text-align: center;
    color: #F9FAF8;
    background-color: #638372;
    padding: 16px;
}